<div class="form-container">
    <div class="form-title">
        <h1 class="title">Register</h1>
    </div>
    <div class="form-content">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="field is-grouped">
                <div class="control is-expanded">
                    <label class="label">First Name</label>
                    <input class="input" type="text" name="firstName" id="firstName" placeholder="First Name" formControlName="firstName">
                </div>
                <div class="control is-expanded">
                    <label class="label">Last Name</label>
                    <input type="text" name="lastName" id="lastname" class="input" placeholder="Last Name" formControlName="lastName">
                </div>
            </div>

            <div class="field">
                <label class="label">E-mail</label>
                <div class="control has-icons-left has-icons-right">
                    <input type="text" name="email" id="email" class="input" placeholder="E-mail" formControlName="email">
                    <span class="icon is-small is-left">
                        <i class="mdi mdi-email"></i>
                    </span>
                </div>

            </div>
            <div class="field">
                <h2 class="label">Phones <a (click)="addPhone()" class="mdi mdi-plus-circle-outline"></a></h2>
                <div class="phone-form" *ngFor="let phoneForm of phoneForms.controls; let i = index">
                    <form [formGroup]="phoneForm" class="field is-grouped">
                        <div class="control">
                            <label for="country_code" class="label">Country Code</label>
                            <div class="control has-icons-left">
                                <span class="select">
                                    <select name="country_code_{{i}}" id="country_code_{{i}}" formControlName="country_code_{{i}}">
                                        <option value="+55" selected>+55</option>
                                        <option value="+1">+1</option>
                                        <option value="+34">+34</option>
                                    </select>
                                </span>
                                <span class="icon is-small is-left">
                                    <i class="mdi mdi-earth"></i>
                                </span>
                            </div>
                        </div>
                        <div class="control">
                            <label for="area_code" class="label">Area Code</label>
                            <input type="text" name="area_code_{{i}}" id="area_code_{{i}}" class="input area-code" formControlName="area_code_{{i}}">
                        </div>
                        <div class="control is-expanded">
                            <label for="phoneNumber" class="label">Number <a class="delete is-small delete-phone" *ngIf="i > 0" (click)="removePhone(i)"></a></label>
                            <input type="text" name="phoneNumber_{{i}}" id="phoneNumber_{{i}}" class="input" formControlName="number_{{i}}">
                        </div>
                    </form>
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <input type="password" name="password" id="password" class="input" placeholder="Password" formControlName="password">
            </div>


            <div class="field">
                <p class="control">
                    <button type="submit" class="button is-success is-fullwidth" [disabled]="signUpForm.invalid || phoneForms.invalid">
                        Save
                    </button>
                </p>
            </div>
        </form>
    </div>
</div>